:root {
    /* fonts */
    --main-font: "Roboto";
    --secondary-font: "Raleway";
    /* text-color */
    --accent-color: #2196f3;
    --main-txt-dark: #ffffff;
    --main-txt-light: #212121;
    --p-color: #757575;
    --fill-color: #afb1b8;
    --duration-time: 250ms;
    --time-allocation: cubic-bezier(0.4, 0, 0.2, 1);
}