/* Команда  WebStudio */

.team {
    padding: 60px 0;
    background: #f5f4fa;

    @media screen and (min-width: 1200px) {
            padding: 94px 0;
        }
}

.team__title {
    margin-bottom: 30px;

    font-family: var(--main-font), "sans-serif";
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-light);

    @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: calc(42 / 36);
            margin-bottom: 50px;
        }
}

.team__card {
   
    padding: 0px;
    margin: 0px;
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            
        }

    @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
            gap: none;
        }
}

.team__list {
    margin-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--main-txt-dark);

    &:last-child {
        margin-right: 0px;
    }
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px)/2);}

       
}


.team__job {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    margin-bottom: 10px;

    font-family: var(--main-font), "sans-serif";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-txt-light);
}

.team__specializes {
    font-family: var(--main-font), "sans-serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--p-color);

    margin-bottom: 16px;
}